.container {
    width: 430px;
    position: relative;
    border: 4px solid orange ;
    border-radius: 4px 4px 15px 15px;
}

.imagem {
    position: relative;
    /* max-width: 100%;
    height: auto;
    position: 260px; */
}

.container img {
    /* max-width: 100%; */
    width: 100%;
    height: auto

}

.divImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border: 5px solid orange; */
    box-shadow: inset 0 0 17px 8px orange;

}

.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15.5px;
    margin-bottom: 16px;
    
}

.item_opcao {
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}