.overley {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 560px;
    height: 315px;
}

.video {
    width: 560px;
    height: 315px;
}

.iconeFechar {
    color: var(--corFonte_primaria);
    font-size: 25px;
    top: 2%;
    left: 96%;
    z-index: 1000;
    position: absolute;
}

@media (max-width: 767px) {
    .modal {
        top: 40%;
        width: 420px;
        height: 237px;
    }
    
    .video {
        width: 420px;
        height: 237px;
    }

    .iconeFechar {
        left: 95%;
    }
}

@media (max-width: 450px) {
    .modal {
        top: 40%;
        width: 250px;
        height: 142px;
    }
    
    .video {
        width: 250px;
        height: 142px;
    }

    .iconeFechar {
        font-size: 18px;
        left: 94%;
        top: 3%;
    }
}