.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 42.5px;
    gap: 10px;
    border-bottom: 4px solid var(--corFonte_secundaria);
}

.menu {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 25px;
}

.logo {
    margin-top: 10px;
    display: inline-flex;
}

@media (max-width: 767px) {
    .cabecalho {
        padding: 15px;
        justify-content: center;
    }

    .logo {
        display: none;
    }
}