:root {
    --fontePrimaria: 'Roboto', sans-serif;
    --fonteSecundaria: 'Source Sans 3', sans-serif;
    --fundo: #262626;
    --fundoRodape: #000000;
    --corFonte_primaria: #ffffff; 
    --corFonte_secundaria:#2271D1;
    --cor_back: #00C86F;
    --cor_front: #6BD1FF;
    --cor_mobile: #FFBA05;
    --label_active: #E53935;
    --label: #A5A5A5;
  }
  
.background {
    width: 100%;
    height: 832px;
    position: relative;
}

.container{
    display: flex;
    position: absolute;
    top: 35%;
    left: 5%;
    width: 90%;
    height: auto;
    gap: 50px;
    
}

.minibanner {
    border: 4px solid;
    color: var(--corFonte_secundaria);
    width: 646px; 
    height: 333px;
    box-shadow: inset var(--corFonte_secundaria) 0px 0px 12px -4px;
}


iframe {
    border: 4px solid;
    color: var(--corFonte_secundaria);
}

.container h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    border: transparent;
    /* background-color: #E53935; */
    border-radius: 15px;
    width: auto;
    max-width: 100%;
    padding: 20px;
    display: inline;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 9px;
}

.container p {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
}